<div class='entity_comments' >
	<h5>
		Show comments for this object: 
	</h5>
	<b>
		<%= mymodel.to_s rescue "model toS TBD ERR(#{$!}" %>
	</b>
	Render notes: <b>
		<%= render_notes rescue "RenderNotes  ERR(#{$!}" %>
	</b>
	
	TBD
</div>
