<html>
  <body>

    <B>RicLife</B> 
    <tt>
      Notifier#bella_ric_prova_gmail
    </tt>
    ( Find me in app/views/notifier/bella_ric_prova_gmail.erb )


    <h1>Bella Ric!</h1>

    Questa è una prova di invio mail da develpoment da riclife su #{hostname rescue 'hostanem ignoto'}. :)

    Ciao! Provalo in production E sul tuo sito!

  </body>
</html>