<h1>Toggable example</h1>
<p>
	Ciao questo è+ un esempio di roba toggabile... clicca in 1 per avere 2, e in 2 per avere 1..
	<b>TODO wrappalo in un YEILD statement</b>
</p>
<p>Clicchini:
	<a href="#" onclick="Element.toggle('box1')">Toggle BOX1 </a>
	<a href="#" onclick="Element.toggle('box2')">Toggle BOX2 </a>
	<a href="#" onclick="Element.toggle('box3')">Toggle BOX3 </a>
	<a href="#" onclick="Element.toggle('box4')">Toggle BOX4 </a>
</p>
