<%= render :partial => 'shared/crate_begin', :locals =>
  { :title => "My Projects", :icon_path => 'models/project.png' }
%>
  <% if current_user.person.object_id then %>
	  <% Project.by_person(current_user.person).each{ |x| %>
	    <li>
	      <%= render :partial => 'projects/fancy', :locals => { :project => x } %>
	    </li>
	  <% } %>
  <% end %>
<%= render :partial => 'shared/crate_end' %>