<h2>Users Layout</h2>
<h3>
  ACHTUNG: Ric ricordati di proteggere ste info cacchio se no chiunque si crea il proprio utente con sto cacchio di scaffolding!
</h3>
Spostami dal layout nelle views quando hai tempo ;)
<%= render :file => "layouts/_common_layout" , :locals => { :mymodel => "users" , :myobj => @users } %>

Metti qui i login links, so ce n'è uno automatico che li genera tutti
<%= link_to '/signup','/signup' %>